<link rel="stylesheet" type="text/css" href="dist/styles/about.min.css"/>
<div class="container" id="about-program">
    <div class="row program-header">
        <div class="col-xs-12 header-about">
            <h1>Matlandia Junior</h1>
            <h3>100 animowanych zadań dla dzieci w wieku 5-9 lat</h3>
        </div>
    </div>
    <div class="row program-description">
        <div class="col-xs-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla metus turpis, congue vel velit vitae, tincidunt tristique justo.
                Suspendisse porta nec diam ac tempor. Sed facilisis nisi vestibulum nibh tincidunt venenatis.
                Aliquam mollis quam et nunc pellentesque, quis pharetra elit vulputate. Aenean aliquam, odio in
                posuere efficitur,
                mi velit dapibus quam, nec euismod libero eros vitae ipsum. Donec non elit sed tellus interdum
                pharetra.
            </p>

            <p>Aenean ac egestas massa. Ut ac nisi tincidunt, finibus lacus non, viverra nunc.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Vestibulum volutpat mattis mauris. Maecenas leo libero, consequat eget molestie vitae, blandit
                non felis.
            </p>
            <h4>Program będzie dostępny od wrzęsnia 2015 roku.</h4>
        </div>
        <div class="col-xs-4 happy-image">
            <img class="img-responsive" src="images/about-programming/t11.png">
        </div>
    </div>

</div>
</div>


