<link rel="stylesheet" type="text/css" href="dist/styles/advantages.min.css"/>
<div class="reversed"></div>
<div class="container-fluid advantages" id="advantages">
    <div class="container">
        <span class="advantages-header">
            Zalety programu
        </span>
    <div class="icone col-md-4 col-sm-6">
        <img src="images/advantages/t15.png">
        <p>100 animowanych zadań</p>
    </div>
    <div class="icone col-md-4 col-sm-6">
        <img src="images/advantages/t16.png">
        <p>zadania o zróżnicowanym stopniu trudności</p>
    </div>
    <div class="icone col-md-4 col-sm-6">
        <img src="images/advantages/t17.png">
        <p>zmienne dane w zadaniach</p>
    </div>
    <div class="icone col-md-4 col-sm-6">
        <img src="images/advantages/t18.png">
        <p>Jczytane na głos polecenia</p>
    </div>
    <div class="icone col-md-4 col-sm-6">
        <img src="images/advantages/t19.png">
        <p>motywujące komentarze bohaterów programu</p>
    </div>
    <div class="icone col-md-4 col-sm-6">
        <img src="images/advantages/t20.png">
        <p>medale za wyniki</p>
    </div>
        {#<div class="clear"></div>#}
    </div>
</div>
<div class="separator-advantages"></div>