<link rel="stylesheet" type="text/css" href="dist/styles/footer.min.css"/>
<div class="container-fluid footer">

<div class="container">
    <div class="footer-menu">
        <div class="row flex-container">
            <div class="col-md-8 left-footer-container">
                <div class="right-menu">
                    <div class="col-sm-2"><img src="images/footer/1_i.png"><a href="#">Pomoc</a></div>
                    <div class="col-sm-2"><img src="images/footer/2_i.png"><a href="#">Kontakt</a></div>
                    <div class="col-sm-2"><img src="images/footer/3_i.png"><a href="#">Regulamin</a></div>
                    <div class="col-sm-2"><img src="images/footer/4_i.png"><a href="#">Zespół</a></div>
                    <div class="col-sm-2"><img src="images/footer/5_i.png"><a href="#">Wymagania systemowe</a></div>
                </div>
<div class="clear"></div>
            </div>
            <div class="col-md-4 right-container">
                <div class="facebook"><a href=""><img src="images/footer/fb.png"><p>GWO na facebooku</p></a></div>
            </div>
        </div>
    </div>

    <hr/>
   <p class="c-name">Gdańskie wydawnictwo Oświatowe spółka z ograniczoną odpowiedzialnością sp.k.</p>
    <p>80-309 Gdańsk, al.Grunwaldzka 411</p>

    <hr/>
    <p>Copyright Gdańskie Wydawnictwo Oświatowe 2016</p>
</div>
</div>
