<link rel="stylesheet" type="text/css" href="dist/styles/header.min.css"/>
<link type="text/css" rel="stylesheet" href="styles/css/lightslider.min.css" />
<div class="header" id="header">
<div class="container navbar1">
    <div class="row flex-container">
        <div class="col-md-6 left-container">
            <a href="#"><div class="logo-holder"></div></a>
        </div>
        <div class="col-md-6 right-container small-menu">
            <ul class="right-menu">
            <li class="col-md-4"><a href="/">Wpisz kod</a></li>
            <li class="col-md-4"><a href="/">Moje dostępy</a></li>
            <li class="col-md-4"><img src="images/header/koszyk.png"><a href="/">Koszyk</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="col-md-12 right-container">
            <p class="col-md-11  user">{{ user.name }} {{ user.surname }} </p>
            <a href="#header"><span class="col-md-1 logout">(wyloguj)</span></a>
        </div>
    </div>
</div>

<div class="slider-top">
    <div><img class="img-responsive slide" src="images/header/1_slajd_1920x800.png" alt="header slide"><div class="comic"><img class="img-responsive" src="images/header/t12.png" alt="comic bubble"></div></div>
    <div><img class="img-responsive slide" src="images/header/1_slajd_1920x800.png" alt="header slide"></div>
    <div><img class="img-responsive slide" src="images/header/1_slajd_1920x800.png" alt="header slide"></div>
</div>


<div class="navbar2">
    <div >

        <nav class="container">

            <ul class="nav main-nav nav-justified">
                <li> <a href="#header" class="home"><img src="images/header/home.png"  alt="home"></a></li>
                <li><a href="#about-program" class="nav-link">O programie</a></li>
                <li><a href="#program" class="nav-link">Zobacz program</a></li>
                <li><a href="#oferta" class="nav-link">Oferta</a></li>
                <li><a href="#apps" class="nav-link">Nasze programy</a></li>
            </ul>
        </nav>
    </div>
</div>
</div>
<div class="separator"></div>

