<link rel="stylesheet" type="text/css" href="dist/styles/oferta.min.css"/>
<div class="container-fluid offer" id="oferta">
<div class="background-container">


    <div class="offer-container">

        <span class="offer-header">Oferta</span>
        <div class="row">
            <div class="message1 message col-md-4">
                <a href=""><p>dla ucznia</p></a>
            </div>
            <div class="message2 message col-md-4">
                <a href=""><p>dla rodzica</p></a>
            </div>
            <div class="message3 message col-md-4">
                <a href=""><p>dla nauczyciela</p></a>
            </div>
        </div>

    </div>
</div>
</div>