<link rel="stylesheet" type="text/css" href="dist/styles/program.min.css"/>
<div class="reversed"></div>
<div class="container-fluid program" id="program">
    <div class="container program-container">

        <span class="program-header">
            Zobacz program
        </span>
        <div class="icone col-md-4 col-sm-6">
            <img src="images/program/_śnieg.png">
        </div>
        <div class="icone col-md-4 col-sm-6">
            <img src="images/program/_automat.png">
        </div>
        <div class="icone col-md-4 col-sm-6">
            <img src="images/program/_pingwiny.png">
        </div>
        <div class="icone col-md-4 col-sm-6">
            <img src="images/program/_bobry.png">
        </div>
        <div class="icone col-md-4 col-sm-6">
            <img src="images/program/_rakieta.png">
        </div>
        <div class="icone col-md-4 col-sm-6">
            <img src="images/program/_zegar.png">
        </div>
        <div class="row">
        <div class="happy-croco col-md-6">
                <img class="img-responsive" src="images/program/t9.png">
            </div>
            <div class="happy-croco col-md-6">
                <span>Możliwość rozwiązywania xx zadań</span>
            </div>
            </div>
    </div>
    </div>
</div>
<div class="separator-program"></div>