<link rel="stylesheet" type="text/css" href="dist/styles/squirrel-section.min.css"/>

<div class="squirrel container">
    <div class="row squirrel-row">
        <div class="col-lg-2">
            <img src="images/squirrel-section/t14.png">
        </div>
        <div class="col-lg-10  backgrounded">
            <img class="img-responsive" src="images/squirrel-section/t13.png">
            <span>Pobierz pełną listę działów i tematów</span>
        </div>
    </div>
</div>